body {
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: rgb(9, 5, 63);
}

.main {
    width: 500px;
    height: 600px;
    background-color: #fff;
    position: relative;
    top:50%;
    left:35%;
    border-radius: 5%;
    margin-top: 190px;    
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
}

h1 {
    margin-top: -40px;
    color:black;   
}

label {
    color: black;
    font-size:23px;
}

input::placeholder{
    font-family: inherit;
    font-size: 15px ;
}

input {
    height: 30px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px; 
    padding-left:10px;
}

button {
    height:35px;
    width: 80px;
    border-radius: 10%;
    border-width: thin;
    background-color: #bbbbbb;
    font-size: 15px;
    transition-delay: 0.1s ;
    cursor: pointer;
}

button:hover{
    background-color: rgb(201, 255, 119);
}

.dha {
    color: black;
    margin-top:50px;
    font-size:18px;
}